{% extends "base.html" %}

{% block content %}
    <style>
        .large-front-thumbnail {
            position: relative;
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }

    </style>
    <div class="row">
        <div class="col">
            <div class="card">
                <img class="large-front-thumbnail"
                     src="{{ url_for('static', filename='imagenet_subset/'+image_id) }} "
                     alt={{ image_id }}/>
            </div>
        </div>
        <div class="col">
            <div class="card ">
                <h2 id="waitText"></h2>
                <canvas id="classificationOutput" style="max-width: 500px;"></canvas>
                <a class="btn btn-dark" href="/classifications" role="button">Back</a>
            </div>
        </div>
    </div>
    <script src="{{ url_for("static", filename="poll.js") }}" id="polling" jobid={{ jobID }}></script>

{% endblock %}



